.content {
  p,
  li,
  ul {
    display: block;
  }

  li {
    display: flex;
    align-items: center;
    &::before {
      display: block;
      content: "•";

      padding-right: 5px;
    }
  }
  h3,
  h4,
  h5,
  h6,
  ul,
  pre,
  p {
    padding-bottom: 10px;
  }

  h2 {
    display: block;

    padding: 40px 0 20px 0;
  }
}