.content {
  font-size: 18px;

  code {
    font-size:14px;
  }

  p,
  li,
  ul {
    display: block;
  }

  li {
    display: flex;
    align-items: center;
    &::before {
      display: block;
      content: "•";

      margin-right: 5px;
    }
  }
  h3,
  h4,
  h5,
  h6,
  ul,
  div,
  pre,
  p {
    margin-bottom: 10px;
  }

  h2 {
    display: block;

    margin: 40px 0 20px 0;
  }
}