<div class="example">
  <div class="example__section">
    <div data-tabs="welcome" class="tabs">
      <div data-tabs-header="true" class="tabs__header">
        <div class="tabs__header__item tabs__header__item-active" data-tab="connect">
          <div class="tabs__header__item__name">
            Connect
          </div>
          <div class="tabs__header__item__filename">
            main.go
          </div>
        </div>
        <div class="tabs__header__item" data-tab="model">
          <div class="tabs__header__item__name">
            Define
          </div>
          <div class="tabs__header__item__filename">
            models/model.go
          </div>
        </div>
        <div class="tabs__header__item" data-tab="use">
          <div class="tabs__header__item__name">
            Use
          </div>
          <div class="tabs__header__item__filename">
            handlers/search.go
          </div>
        </div>
      </div>
      <div data-tabs-itemId="connect" class="tabs__item tabs__item-active">
        {{- partial "examples/connect.html" -}}
      </div>
      <div data-tabs-itemId="model" class="tabs__item">
        {{- partial "examples/define.html" -}}
      </div>
      <div data-tabs-itemId="use" class="tabs__item">
        {{- partial "examples/use.html" -}}
      </div>
    </div>
  </div>
</div>