<div class="welcome">
  <div class="welcome__section welcome__section-tabs">
    <h1 class="welcome__title">A fast and simple <br/>MongoDB driver for Go</h1>
  </div>
  <div class="welcome__section welcome__section-install">
    <p class="welcome__install">go get -u github.com/golungo/lungo</p>
    <div class="welcome__copy">
      <i data-feather="copy"></i>
    </div>
  </div>
  <div class="welcome__section">
    <p class="welcome__description">
      Writing MongoDB aggregations can be very time-consuming.<br/>
      That's why <span class="welcome__description__color">lungo</span> exists
    </p>
  </div>
  <div class="welcome__section">
    <a href="https://github.com/golungo/lungo" target="_blank" rel="nofollow" class="button">
      <i data-feather="github"></i>
      <span class="button__text">Source Code</span>
    </a>
    <a href="/docs" class="button">
      <i data-feather="book"></i>
      <span class="button__text">Documentation</span>
    </a>
  </div>
</div>