.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include container;

  padding: 30px 0 120px 0;

  .header__section {
    display: flex;
    align-items: center;
  }

  .header__title {
    font-size: 20px;
    color:$_color-main-gray-default;
    
    padding: 5px 0 0 20px;
  }
}