<pre><code class="language-go">
package handlers
    
import (
  "encoding/json"
    
  "golungo/example/models"
    
  "github.com/golungo/lungo"
)
          
func Search(objectID lungo.ObjectID) ([]models.Parent, error) {
  var Parents []models.Parent
    
  filter := lungo.filter{
    "_id": objectID
  }
    
  populate := lungo.Populate{
    "childs"
  }
            
  result, err := models.GetCollection().Match(filter).Populate(populate).Limit(limit).Exec()
  if err != nil {
    return Parents, err
  }
            
  if err := json.Unmarshal(result, &Parents); err != nil {
    return Parents, err
  }
            
  return Parents, nil
}
</code></pre>